* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  width: 100vw;
  height: 100vh;
}

canvas {
  width: 100vw;
  height: 100vh;
}

.stats {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100vw;
}

.stat {
  display: flex;
  flex-direction: column;
}

.redbar {
  margin: 40px 5vw 10px 5vw;
  width: 500px;
  height: 40px;
  border-radius: 5px;
  background-color: red;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.health {
  position: absolute;
  margin: 40px 5vw 10px 5vw;
  width: 500px;
  height: 40px;
  border-radius: 5px;
  background-color: green;
}

.victory-count {
  margin-left: 5vw;
  color: #f0f0f0;
  font-size: 24px;
  font-family: 'Courier New', Courier, monospace;
}

a,
a:visited {
  text-decoration: none;
  color: #f0f0f0;
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  font-weight: bold;
}

.playbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  border-radius: 12px;
  background-color: #b810c3;
  margin-top: 50px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#result {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

#result-text {
  color: #f0f0f0;
  font-family: 'Courier New', Courier, monospace;
  display: none;
}
